* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B4E197;
}

a {
    text-decoration: none;
    color: #446A46;
}

.element {
    padding-top:30px;
    font-size: 50px;
    color : #446A46;
}

.intro {
    color : #FAFDD6;
    background-color: rgba(95, 113, 97, 0.3);
    font-weight: 600;
    width: 50%;
    padding: 10px;
    margin-left: 25%;
}

.info {
    color:#446A46;
}

.tab-content .tab-pane {
    margin-top: 10px;
}

.flowerTab{
    background-color: #E9EFC0;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav , .tab-content{
    padding-left: 10px;
    padding-right: 10px;
}

.tab-content {
    padding-bottom: 20px;
}

.nav-link :focus{
    background-color: #446A46;
}

.center {
    text-align : center;
    margin-bottom : 20px;
}

.scanTitle {
    background-color: rgba(78, 148, 79,0.5);
    padding:15px;
}

.footer {
    background-color : #464E2E;
    color: #82A284;

}
